<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://girdergenbrpyserver.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/c9dc2ffa-9a05-4362-9f82-6b63b920669f/resourceGroups/JapanEastResourceGroupe/providers/Microsoft.Web/sites/GirderGenBrpyServer</ResourceId>
    <UserName>$GirderGenBrpyServer</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://girdergenbrpyserver.scm.azurewebsites.net/</PublishUrl>
    <TargetFramework>net6.0</TargetFramework>
    <SelfContained>false</SelfContained>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
  </PropertyGroup>
</Project>